# NextAuth
NEXTAUTH_SECRET="your-secret-goes-here"
NEXTAUTH_URL="http://localhost:3000"

# Environment
NODE_ENV="development"

# Database
DATABASE_URL="file:./dev.db"

# Production Database (uncomment and set when deploying to production)
# DATABASE_URL="file:./prod.db"

# Admin Password
ADMIN_PASSWORD=""